<a href="https://colab.research.google.com/github/jose-valencia/BI-UCA/blob/BI-2022/clase30JUN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hola Mundo')

Hola Mundo

In [ ]:
import time
print(time.ctime())
time.sleep(5)
print(time.ctime())

Fri Jul  1 01:03:22 2022
Fri Jul  1 01:03:27 2022

In [ ]:
import pandas as pd

mydictionary = {'names': ['Somu', 'Kiku', 'Amol', 'Lini'],
	'physics': [68, 74, 77, 78],
	'chemistry': [84, 56, 73, 69],
	'algebra': [78, 88, 82, 87]}

df  = pd.DataFrame(mydictionary)
df

  names  physics  chemistry  algebra
0  Somu       68         84       78
1  Kiku       74         56       88
2  Amol       77         73       82
3  Lini       78         69       87

In [ ]:
for index, row in df.iterrows():
    if (row['names'] == 'Lini'):
        row['names'] = 'LN'
        row['physics'] = row['physics'] * 10
    print(row['names'])
    print(row['physics'])
    print('------')

Somu
68
------
Kiku
74
------
Amol
77
------
LN
780
------

In [ ]:
import pandas as pd
data_ventas = pd.read_csv("https://raw.githubusercontent.com/jose-valencia/BI-UCA/BI-2022/Ventas.csv", encoding = "Latin-1")
data_ventas

,Fecha,Representante,CódigoProducto,Unidades,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1/1/2020,Isabel Crespo,B00F3J4B5S,4.0,NaN,NaN,NaN,NaN
1,1/2/2020,Cecilia Manrique,B018IZ0SWI,2.0,NaN,NaN,NaN,NaN
2,1/2/2020,Isabel Crespo,B01DZJFWNC,1.0,NaN,NaN,Fecha,Fecha de venta
3,1/2/2020,Sagrario Silva,B01DZJFWNC,2.0,NaN,NaN,Representante,Representate realizó la venta (Vendedor)
4,1/2/2020,teodoro jurado,B016381QZA,4.0,NaN,NaN,CódigoProducto,Código de producto
...,...,...,...,...,...,...,...,...
10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10001,12/31/2021,Benjamín Pérez,B00F3J4B5S,3.0,NaN,NaN,NaN,NaN
10002,12/31/2021,Jaime Pastrana,B00K15Q2B0,1.0,NaN,NaN,NaN,NaN
10003,12/31/2021,Fernando Ruiz,B018IZ0SWI,2.0,NaN,NaN,NaN,NaN
10004,12/31/2021,Joana Mejía,B018IZ0SWI,2.0,NaN,NaN,NaN,NaN

In [ ]:
del data_ventas['Unnamed: 4']
del data_ventas['Unnamed: 5']
del data_ventas['Unnamed: 6']
del data_ventas['Unnamed: 7']

data_ventas

            Fecha     Representante CódigoProducto  Unidades
0        1/1/2020     Isabel Crespo     B00F3J4B5S       4.0
1        1/2/2020  Cecilia Manrique     B018IZ0SWI       2.0
2        1/2/2020     Isabel Crespo     B01DZJFWNC       1.0
3        1/2/2020    Sagrario Silva     B01DZJFWNC       2.0
4        1/2/2020    teodoro jurado     B016381QZA       4.0
...           ...               ...            ...       ...
10000         NaN               NaN            NaN       NaN
10001  12/31/2021    Benjamín Pérez     B00F3J4B5S       3.0
10002  12/31/2021    Jaime Pastrana     B00K15Q2B0       1.0
10003  12/31/2021     Fernando Ruiz     B018IZ0SWI       2.0
10004  12/31/2021       Joana Mejía     B018IZ0SWI       2.0

[10005 rows x 4 columns]

In [ ]:
data_ventas = data_ventas.dropna(how='all')

In [ ]:
data_ventas

            Fecha     Representante CódigoProducto  Unidades
0        1/1/2020     Isabel Crespo     B00F3J4B5S       4.0
1        1/2/2020  Cecilia Manrique     B018IZ0SWI       2.0
2        1/2/2020     Isabel Crespo     B01DZJFWNC       1.0
3        1/2/2020    Sagrario Silva     B01DZJFWNC       2.0
4        1/2/2020    teodoro jurado     B016381QZA       4.0
...           ...               ...            ...       ...
9999   12/31/2021  Cecilia Manrique     B01DZJFWNC       2.0
10001  12/31/2021    Benjamín Pérez     B00F3J4B5S       3.0
10002  12/31/2021    Jaime Pastrana     B00K15Q2B0       1.0
10003  12/31/2021     Fernando Ruiz     B018IZ0SWI       2.0
10004  12/31/2021       Joana Mejía     B018IZ0SWI       2.0

[10000 rows x 4 columns]

In [ ]:
import pandas as pd
dv = data_ventas
dv.to_csv('drive/MyDrive/Colab Notebooks/procesado.csv')

FileNotFoundError: ignored